.tags-v3 li {
    padding: 7px 0 7px 4px;
}

.tags-v3 li a {
    color: #555;
    font-size: 12px;
    padding: 4px 12px;
    border: solid 1px #eee;
}

.tags-v3 li a:hover {
    color: #fff;
    background: #222;
    border-color: #222;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
