.carousel-v2 .carousel-control,
.carousel-v2 .carousel-control:hover {
    opacity: 1;
    text-shadow: none;
}

.carousel-v2 .carousel-control.left,
.carousel-v2 .carousel-control.right {
    top: 50%;
    z-index: 5;
    color: #eee;
    width: 45px;
    height: 45px;
    font-size: 30px;
    margin-top: -22px;
    position: absolute;
    text-align: center;
    display: inline-block;
    border: 2px solid #eee;
    background: rgba(0, 0, 0, 0.1);
}

.carousel-v2 .carousel-control:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.carousel-v2 .carousel-control.left {
    left: 20px;
}

.carousel-v2 .carousel-control.right {
    right: 20px;
}

.carousel-v2 .carousel-control .arrow-prev,
.carousel-v2 .carousel-control .arrow-next {
    top: -5px;
    position: relative;
}

.carousel-v2 .carousel-control .arrow-next {
    right: -2px;
}

@media (min-width: 768px) {
    .carousel-indicators {
        bottom: 10px;
    }
}
