<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>Timeline v01</title>
 <!-- <link rel="stylesheet" th:href="@{/theme/css/features/timeline/timeline-v1.css}"/>-->
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="FEATURES_TIMELINE_V01"/>
</div>
<div class="content content-md height-600" layout:fragment="content">
  <div class="container">

  </div>
</div>
</body>
</html>
