.content-boxes-v4 h2 {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-boxes-v4 a {
    color: #777;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.content-boxes-v4 i {
    width: 25px;
    color: #72c02c;
    font-size: 35px;
    margin-top: 10px;
}

.content-boxes-in-v4 {
    padding: 0 10px;
    overflow: hidden;
}

.content-boxes-v4-sm i {
    font-size: 26px;
    margin-top: 10px;
    margin-right: 5px;
}
