.flat-testimonials {
    padding: 50px 0;
    background-color: #333;
}

.flat-testimonials .flat-testimonials-in {
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
}

.flat-testimonials .flat-testimonials-in img {
    width: 135px;
    height: 135px;
    margin: 0 auto 25px;
}

.flat-testimonials .flat-testimonials-in h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
}

.flat-testimonials .flat-testimonials-in span {
    display: block;
    margin-bottom: 5px;
}

.flat-testimonials .flat-testimonials-in p {
    color: #fff;
    font-weight: 200;
    position: relative;
}

.flat-testimonials .flat-testimonials-in p:before,
.flat-testimonials .flat-testimonials-in p:after {
    top: 5px;
    font-size: 22px;
    line-height: 10px;
    position: relative;
}

.flat-testimonials .flat-testimonials-in p:before {
    content: "“";
    padding-right: 5px;
}

.flat-testimonials .flat-testimonials-in p:after {
    content: "”";
    padding-left: 5px;
}
