/*Testimonials v1*/
.testimonials.testimonials-v1 .item p {
    position: relative;
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
    left: 80px;
    bottom: -20px;
}

.testimonials.testimonials-v1 .item p:after {
    border-top: 22px solid;
    border-left: 0 solid transparent;
    border-right: 22px solid transparent;
}

/*General Testimonials v1*/
.testimonials.testimonials-v1 p {
    padding: 15px;
    font-size: 14px;
    font-style: italic;
    background: #f5f5f5;
}

.testimonials.testimonials-v1 .item p:after {
    width: 0;
    height: 0;
    content: " ";
    display: block;
    position: absolute;
    border-top-color: #f5f5f5;
    border-left-style: inset; /*FF fixes*/
    border-right-style: inset; /*FF fixes*/
}