.testimonials-v4 .testimonials-v4-in {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
    padding: 20px 20px 20px 55px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.testimonials-v4 .testimonials-v4-in:before {
    color: #bbb;
    font-size: 60px;
    content: "\201C";
    position: absolute;
    margin: -25px 0 0 -40px;
    font-family: Georgia, serif;
}

.testimonials-v4 .testimonials-v4-in:after {
    width: 0;
    height: 0;
    left: 80px;
    content: " ";
    bottom: -30px;
    position: absolute;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #fff transparent transparent transparent;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.1));
}

.testimonials-v4 .testimonials-v4-in p {
    color: #777;
    font-size: 14px;
    font-style: italic;
}

.testimonials-v4 img {
    float: left;
    width: 60px;
    height: auto;
    margin: 0 20px;
}

.testimonials-v4 .testimonials-author {
    color: #555;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding-top: 8px;
    text-transform: uppercase;
}

.testimonials-v4 .testimonials-author em {
    font-size: 13px;
    text-transform: capitalize;
}
