.quote-v2 {
    text-align: center;
    padding: 85px 10% 40px;
}

.quote-v2 p {
    color: #555;
    font-size: 16px;
    font-style: italic;
    position: relative;
    margin-bottom: 20px;
}

.quote-v2 p:before {
    left: 50%;
    top: -75px;
    font-size: 80px;
    content: "\201C";
    position: absolute;
    margin-left: -25px;
    font-family: Georgia, serif;
}

.quote-v2 span {
    color: #555;
    font-weight: 400;
}
