.pager.pager-v2 li > a {
    border: none;
}

.pager.pager-v2 li > a {
    transition: all 0.1s ease-in-out;
}

.pager.pager-v2 li > a:hover,
.pager.pager-v2 li > a:focus {
    color: #fff;
    background: #72c02c;
}

/*Pager Amount*/
.pager.pager-v2 li.page-amount {
    font-size: 16px;
    font-style: italic;
}

.pager.pager-v2 li.page-amount,
.pager.pager-v2 li.page-amount:hover,
.pager.pager-v2 li.page-amount:focus {
    top: 7px;
    color: #777;
    position: relative;
}

/*Pager Size*/
.pager.pager-v2.pager-md li a {
    font-size: 16px;
    padding: 8px 18px;
}
