.pager.pager-v4 li > a {
    line-height: normal;
    transition: all 0.1s ease-in-out;
}

.pager.pager-v4 li > a:hover,
.pager.pager-v4 li > a:focus {
    color: #fff;
    background: #222;
    border-color: #222;
}

/*Pager Amount*/
.pager.pager-v4 li.page-amount {
    font-size: 14px;
    font-style: italic;
}

.pager.pager-v4 li.page-amount,
.pager.pager-v4 li.page-amount:hover,
.pager.pager-v4 li.page-amount:focus {
    top: 7px;
    color: #777;
    position: relative;
}
