.block-grid-v2 {
    padding: 0;
}

.block-grid-v2 li {
    list-style: none;
    position: relative;
    -webkit-backface-visibility: hidden; /*For Chrome*/
}

.block-grid-v2-info {
    padding: 15px;
    text-align: center;
    background: #f9f9f9;
    border-bottom: solid 3px #eee;
    transition: all 0.4s ease-in-out;
}

.block-grid-v2 li:hover .block-grid-v2-info {
    border-color: #72c02c;
}

.block-grid-v2-info h3 {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 10px;
}

.block-grid-v2-info .star-vote li {
    padding: 2px;
    font-size: 16px;
}
