<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{ACT0010}">YQBoots Actuator</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="jumbotron">
    <a href="https://github.com/zhanhongbo1112/yqboots-actuator" target="_blank">
      <img class="fa-code-fork"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
           src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
           alt="Fork me on GitHub"/>
    </a>

    <div class="container">
      <h2>YQBoots Actuator</h2>

      <p>YQBoots Actuator does the health checking and metrics analysing to the Spring MVC-based application
        which enables the actuator features in <a href="https://www.spring.io/spring-boot">Spring Boot</a>.
      </p>
    </div>
  </div>
</div>
<div class="content content-md height-600" layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="headline">
          <h2 id="features">Features</h2>

          <p><a href="https://www.spring.io/spring-boot">Spring Boot</a> includes a number of additional features to
            help you monitor and manage your application when it’s pushed to production.
            You can choose to manage and monitor your application using HTTP endpoints, with JMX or even by remote shell
            (SSH or Telnet). Auditing, health and metrics gathering can be automatically applied to your application.
          </p>

          <p>YQBoots Actuator brings the UI screen of the <a href="https://www.spring.io/spring-boot">Spring Boot</a>
            HTTP endpoints, you can view the health status of the Web, Database, Memory, Disk, etc. Also it uses a timer
            (5 Seconds) to refresh the latest status of the detailed application.</p>

          <p>Further more, you can register more applications which enable the actuator features of <a
            href="https://www.spring.io/spring-boot">Spring Boot</a></p>

          <p>YQBoots Actuator enables the following endpoints:</p>
          <ul>
            <li>Application Information - Displays arbitrary application info.</li>
            <li>Health - Shows application health information (when the application is secure, a simple "status" when
              accessed over an unauthenticated connection or full message details when authenticated).
            </li>
            <li>Metrics - Shows "metrics" information for the current application.</li>
            <li>Environments - Exposes properties from Spring's <code>ConfigurableEnvironment</code>.</li>
            <li>Config Properties - Displays a collated list of all <code>@ConfigurationProperties</code>.</li>
            <li>Mappings - Displays a collated list of all <code>@RequestMapping</code> paths.</li>
            <li>Beans - Displays a complete list of all the Spring beans in your application.</li>
            <li>Auto Configuration - Displays an auto-configuration report showing all autoconfiguration candidates
              and the reason why they "were" or "were not" applied.
            </li>
            <li>Trace - Displays trace information (by default the last 100 HTTP requests).</li>
            <li>Dump - Performs a thread dump.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i> Releases</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Release</th>
                <th>Release Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1.0.0<span class="badge badge-u">New</span></td>
                <td>2017-01-01</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr/>
        <div class="panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-note"></i> Quick Start Guide</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li>Fork the <a href="https://github.com/zhanhongbo1112/yqboots-framework" target="_blank"><code>YQBoots
                Framework</code></a></li>
              <li>Fork the <a href="https://github.com/zhanhongbo1112/yqboots-actuator"
                              target="_blank"><code>YQBoots Actuator</code></a></li>
              <li>Run Maven build <code>spring-boot:run</code> to the project</li>
              <li>Open URL: http://localhost:8080</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
