.team-v1 ul {
    position: relative;
}

/*Team Image*/
.team-v1 li > .team-img {
    position: relative;
}

.team-v1 li > .team-img:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: transparent;
    transition: all 0.4s ease-in-out;
}

.team-v1 li:hover > .team-img:after {
    background: rgba(0, 0, 0, 0.5);
}

/*Team Socials*/
.team-v1 li > .team-img ul {
    left: 0;
    top: 45%;
    z-index: 1;
    padding: 0;
    width: 100%;
    height: 36px;
    list-style: none;
    margin-top: -18px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.team-v1 li:hover > .team-img ul {
    top: 50%;
    visibility: visible;
}

.team-v1 li > .team-img ul li {
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}

.team-v1 li > .team-img li i {
    color: #eee;
    border-width: 2px;
    border-color: #eee;
    transition: all 0.1s ease-in-out;
}

.team-v1 li > .team-img li i.fa-twitter:hover {
    color: #fff;
    background: #3498db;
    border-color: #3498db;
}

.team-v1 li > .team-img li i.fa-facebook:hover {
    color: #fff;
    background: #4765a0;
    border-color: #4765a0;
}

.team-v1 li > .team-img li i.fa-google-plus:hover {
    color: #fff;
    background: #e74c3c;
    border-color: #e74c3c;
}

/*Team Discription*/
.team-v1 li > h3 {
    color: #000;
    font-size: 18px;
    line-height: 20px;
    margin: 15px 0 7px;
    text-transform: uppercase;
}

.team-v1 li > h4 {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.team-v1 li > p {
    margin: 20px 0;
    position: relative;
}

.team-v1 li > p:before {
    left: 0;
    top: -10px;
    height: 1px;
    width: 40px;
    content: " ";
    position: absolute;
    background: #bbb;
    transition: all 0.4s ease-in-out;
}

.team-v1 li:hover > p:before {
    width: 100%;
    background: #72c02c;
}
