.team-v4 {
    text-align: center;
}

.team-v4 img {
    width: 100%;
    margin-bottom: 20px;
}

.team-v4 span {
    color: #333;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.team-v4 small {
    color: #999;
    display: block;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.team-v4 .team-social-v4 a {
    color: #555;
    font-size: 16px;
}

.team-v4 .team-social-v4 a:hover {
    color: #72c02c;
    text-decoration: none;
}
