.team-v5 {
    text-align: center;
}

.team-v5 span {
    color: #555;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.team-v5 small {
    display: block;
    color: #72c02c;
    font-size: 13px;
    font-style: italic;
    position: relative;
    margin-bottom: 25px;
}

.team-v5 small:after {
    left: 50%;
    top: 30px;
    height: 1px;
    width: 30px;
    content: " ";
    background: #777;
    margin-left: -15px;
    position: absolute;
}

.team-v5 .team-img {
    position: relative;
}

.team-v5 .team-img:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.team-v5 .team-img:hover:after {
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.team-v5 .team-img > img {
    width: 100%;
    margin-bottom: 20px;
}

/*Team Hover Gradient*/
.team-v5 .team-hover {
    left: 0;
    top: 60%;
    z-index: 1;
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: -16px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.team-v5 .team-img:hover .team-hover {
    top: 50%;
    visibility: visible;
}

/*Social Network-*/
.team-v5 .team-hover .team-social-v5 i {
    color: #fff;
    width: 33px;
    height: 33px;
    padding: 9px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
}

.team-v5 .team-hover .team-social-v5 i:hover {
    color: #666;
    background: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
