.team-v6 {
    text-align: center;
}

.team-v6 img {
    width: 100%;
    margin-bottom: 20px;
}

.team-v6 span {
    color: #777;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.team-v6 small {
    display: block;
    color: #72c02c;
    font-size: 13px;
    margin-bottom: 15px;
}
