.service-block-v3 {
    padding: 20px;
}

.service-block-v3 i {
    color: #fff;
    float: left;
    font-size: 50px;
    margin: 0 20px 20px 0;
}

.service-block-v3 .service-heading,
.service-block-v3 .service-in small {
    color: #fff;
    opacity: 0.8;
    line-height: 1;
}

.service-block-v3 .service-in h4,
.service-block-v3 .counter {
    color: #fff;
}

.service-block-v3 .service-heading {
    font-size: 16px;
    text-transform: uppercase;
}

.service-block-v3 .counter {
    display: block;
    line-height: 1;
    font-size: 30px;
}

.service-block-v3 .progress {
    margin-bottom: 7px;
}

/*Service Innner*/
.service-block-v3 .service-in small {
    font-size: 16px;
    text-transform: uppercase;
}

.service-block-v3 .service-in h4 {
    font-size: 16px;
    line-height: 0.8;
    margin-bottom: 0;
}

/*Statistics*/
.service-block-v3 .statistics .heading-xs {
    color: #fff;
    opacity: 0.8;
}

.service-block-v3 .statistics small {
    color: #fff;
}

.service-block-v3 .statistics .progress {
    background: #bbb;
}

.service-block-v3 .statistics .progress-bar-light {
    background: #fff;
}
