.service-block-v5 {
    text-align: center;
    background: #f7f7f7;
}

.service-block-v5 .service-inner {
    padding: 80px 40px;
}

.service-block-v5 .service-inner i {
    margin-bottom: 30px;
}

.service-block-v5 .service-inner span {
    display: block;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.service-block-v5 .service-border {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

@media (max-width: 992px) {
    .service-block-v5 .service-border {
        border-left: none;
        border-right: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}
