.service-block-v6 i {
    float: left;
    margin: 5px 15px 0 0;
}

.service-block-v6 .service-desc {
    overflow: hidden;
}

.service-block-v6 .service-desc h2 {
    font-size: 18px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.service-block-v6 .service-desc a {
    text-transform: uppercase;
}