.service-block-v7 {
    margin-top: 20px;
    text-align: center;
    position: relative;
    border: 1px solid #ddd;
    padding: 45px 20px 20px;
}

.service-block-v7 i {
    left: 50%;
    top: -25px;
    color: #fff;
    width: 45px;
    height: 45px;
    font-size: 22px;
    line-height: 46px;
    text-align: center;
    position: absolute;
    background: #72c02c;
    margin-left: -22.5px;
    display: inline-block;
}

.service-block-v7 h3,
.service-block-v7 p {
    margin-bottom: 20px;
}
