<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{PRJ0001}">YQBoots Framework</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="jumbotron">
    <a href="https://github.com/zhanhongbo1112/yqboots-framework" target="_blank">
      <img class="fa-code-fork"
           data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
           src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
           alt="Fork me on GitHub"/>
    </a>

    <div class="container">
      <h2>YQBoots Framework</h2>

      <p>YQBoots Framework is a production-ready framework for building modern applications. It is built on <a
          href="http://spring.io/platform/" target="_blank">Spring IO Platform</a>,
        and simplifying the initialization of a Spring-powered, production-grade applications and services with minimal
        effort by using <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a>.
      </p>

      <p><a class="btn-u rounded" href="#features" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
<div class="content content-md height-600" layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>The YQBoots Framework also contains a fully responsive user interface, built by <a
            href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
          providing an optimal viewing and interaction experience -- easy reading and navigation with a minimum of
          resizing, panning, and scrolling-across a wide range of devices (from desktop to mobile phones).
        </p>

        <div class="headline">
          <h2 id="features">Features</h2>

          <p>The YQBoots Framework includes the most common parts of the enterprise applications.</p>
          <blockquote>
            <h3>Modern User Interface</h3>

            <p>A fully responsive, HTML5 + CSS3 user interface, no need to build different user
              interface for different devices.</p>

            <p>Thanks to the HTML5 nature, it supports almost all modern browsers, such
              as Internet Explorer 10+, Microsoft Edge, Google Chrome, Mozilla Firefox, etc.</p>
          </blockquote>
          <hr/>
          <blockquote class="text-right">
            <h3>Rapid Prototyping</h3>

            <p>It is powered by <a href="http://www.thymeleaf.org/" target="_blank">Thymeleaf</a>, a modern server-side
              Java template engine, which can bring elegant <i>nature templates</i> to your development flow — HTML that
              can be correctly displayed in browsers and also work as static prototypes, allowing for stronger
              collaboration in development teams.</p>
          </blockquote>
          <hr/>
          <blockquote>
            <h3>Quick Start</h3>

            <p>It is powered by <a href="http://projects.spring.io/spring-boot" target="_blank">Spring Boot</a>, its
              spring-based and convention-over-configuration feature rapidly decreases the initialization of your
              project.</p>

            <p>You can launch the application with <code>http://localhost</code> after you run the command.</p>

            <p><code>java -jar yqboots-web-site-[version].jar --server.port=80 --spring.profiles.active=prd</code></p>
          </blockquote>
          <hr/>
          <blockquote class="text-right">
            <h3>Security</h3>

            <p>It provides the RBAC (Role-Based Access Control) model to protected your web sites, which has an ACL
              (Access Control List) strategy to protected your URL, methods, and even domains.</p>

            <p>For the audit requirement, it can log any actions you take to the specified domains.</p>
          </blockquote>
          <hr/>
          <blockquote class="text-left">
            <h3>Modularization and Internationalization</h3>

            <p>It divides the functionality of your application into independent, interchangeable modules, so that
              each contains everything necessary to execute only one aspect of the desired functionality. </p>

            <p>It also supports multiple languages, and switch between them.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-list"></i> Releases</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Release</th>
                <th>Release Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1.2.0<span class="badge badge-u">New</span></td>
                <td>2017-01-03</td>
              </tr>
              <tr>
                <td>1.1.0</td>
                <td>2016-11-22</td>
              </tr>
              <tr>
                <td>1.0.0</td>
                <td>2016-10-10</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr/>
        <div class="panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-note"></i> Quick Start Guide</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li>Fork the <a href="https://github.com/zhanhongbo1112/yqboots-framework" target="_blank"><code>YQBoots Framework</code></a></li>
              <li>Run Maven build <code>spring-boot:run</code> to the "yqboots-web-site" module</li>
              <li>Open URL: http://localhost:8080</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
