@import url(breadcrumb.css);

.breadcrumbs-v3 {
    transition: all 0.8s ease-in-out;
}

.breadcrumbs-v3 {
    z-index: 1;
    padding: 100px 0;
    position: relative;
}

.breadcrumbs-v3.breadcrumbs-lg {
    padding: 200px 0;
}

.breadcrumbs-v3.img-v1 {
    background-size: cover;
    background: url(../../../img/breadcrumbs/img1.jpg) no-repeat center center;
}

.breadcrumbs-v3.img-v2 {
    background-size: cover;
    background: url(../../../img/breadcrumbs/img2.jpg) no-repeat center center;
}

.breadcrumbs-v3.img-v3 {
    background-size: cover;
    background: url(../../../img/breadcrumbs/img3.jpg) no-repeat center center;
}

.breadcrumbs-v3:after {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

.breadcrumbs-v3 h1 {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.breadcrumbs-v3 p {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    .breadcrumbs-v3.breadcrumbs-lg {
        padding: 100px 0;
    }
}

@media (max-width: 768px) {
    .breadcrumbs-v3,
    .breadcrumbs-v3.breadcrumbs-lg {
        padding: 50px 0;
    }

    .breadcrumbs-v3 h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .breadcrumbs-v3 p {
        font-size: 18px;
    }
}
