.news-v3 .news-v3-in {
    padding: 35px 30px;
}

.news-v3 .news-v3-in-sm {
    padding: 20px;
}

.news-v3 h2 {
    font-size: 32px;
    font-weight: 200;
    margin: 0 0 20px;
    line-height: 45px;
    text-transform: uppercase;
}

.news-v3 .news-v3-in-sm h2 {
    font-size: 22px;
    margin: 0 0 15px;
    line-height: 30px;
    text-transform: inherit;
}

@media (max-width: 768px) {
    .news-v3 h2 {
        font-size: 22px;
        line-height: 30px;
    }
}

.news-v3 h2 a {
    color: #555;
}

.news-v3 h2 a:hover {
    color: #72c02c;
    text-decoration: none;
}

.news-v3 p {
    color: #555;
    margin-bottom: 20px;
}

/*News Info*/
.news-v3 .posted-info li {
    color: #555;
    font-style: italic;
}

.news-v3 .news-v3-in-sm .posted-info li {
    padding: 0;
    font-size: 12px;
    padding-left: 5px;
}

.news-v3 .posted-info li:before,
.news-v3 .news-v3-in-sm .posted-info li:before {
    content: '/';
}

.news-v3 .posted-info li:before {
    font-size: 12px;
    line-height: 12px;
    margin-right: 13px;
}

.news-v3 .news-v3-in-sm .posted-info li:before {
    font-size: 11px;
    line-height: 11px;
    margin-right: 9px;
}

.news-v3 .posted-info li:first-child:before,
.news-v3 .news-v3-in-sm .posted-info li:first-child:before {
    content: " ";
    margin-right: 0;
}

.news-v3 .posted-info li a {
    color: #555;
}

.news-v3 .posted-info li a:hover {
    color: #72c02c;
}

/*News Shares*/
.news-v3 .post-shares {
    padding-left: 0;
    list-style: none;
    margin: 40px 0 0 -5px;
}

.news-v3 .news-v3-in-sm .post-shares {
    margin: 20px 0 0 -5px;
}

.news-v3 .post-shares li {
    position: relative;
    padding: 0 10px 0 5px;
    display: inline-block;
}

.news-v3 .post-shares li i {
    color: #555;
    width: 40px;
    height: 40px;
    padding: 13px;
    font-size: 16px;
    background: #eee;
    text-align: center;
    display: inline-block;
}

.news-v3 .post-shares li i:hover {
    background: #ddd;
}

.news-v3 .post-shares li span {
    top: -5px;
    right: 6px;
    color: #fff;
    width: 22px;
    height: 22px;
    padding: 4px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    background: #72c02c;
    border: 2px solid #fff;
    border-radius: 50% !important;
}

.news-v3 .post-shares-lg li span {
    top: -10px;
    right: 0px;
    width: 29px;
    height: 29px;
    padding: 4px;
    font-size: 10px;
    line-height: 16px;
}
