.news-section {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.news-v1 .news-v1-in {
    background: #fafafa;
}

.news-v1 h3 {
    margin-bottom: 0;
    font-weight: 200;
    line-height: 28px;
    padding: 10px 15px 15px;
}

.news-v1 h3 a {
    color: #555;
}

.news-v1 h3 a:hover {
    color: #72c02c;
}

.news-v1 p {
    color: #555;
    padding: 0 15px;
    margin-bottom: 20px;
}

.news-v1 .news-v1-info {
    margin-left: 0;
    margin-top: 30px;
    overflow: hidden;
    padding: 8px 10px;
    border-top: solid 1px #eee;
}

.news-v1 .news-v1-info li {
    font-size: 12px;
}

.news-v1 .news-v1-info li a:hover {
    color: #72c02c;
    text-decoration: none;
}
