.owl-carousel-v1 .owl-navigation {
    text-align: right;
    margin-bottom: 20px;
}

.owl-carousel-v1 .item {
    margin: 0 5px;
}

.owl-carousel-v1 .item img {
    text-align: center;
}

.owl-carousel-v1 .owl-pagination {
    display: none;
}
