.owl-carousel-v5 .owl-wrapper-outer {
    margin-bottom: 20px;
}

.owl-carousel-v5 .owl-controls .owl-page.active span,
.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span {
    background: #72c02c;
}

.owl-carousel-v5 .owl-controls .owl-page span {
    margin: 5px 3px !important;
}
