.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}

.pagination li a {
    color: #777;
    padding: 5px 15px;
}

.pagination li a:hover {
    color: #fff;
    background: #5fb611;
    border-color: #5fb611;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #72c02c;
    background-color: #72c02c;
}

/*Pagination Without Space*/
.pagination-no-space .pagination {
    margin: 0;
}
