.tab-v2 .nav-tabs {
    border-bottom: none;
}

.tab-v2 .nav-tabs li a {
    padding: 9px 16px;
    background: none;
    border: none;
}

.tab-v2 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 2px #72c02c;
    border-bottom: none !important;
}

.tab-v2 .tab-content {
    padding: 10px 16px;
    border: solid 1px #eee;
}
