.tab-v6 .nav-tabs {
    border-bottom-color: #dedede;
}

.tab-v6 .nav-tabs > li {
    margin-right: 30px;
}

.tab-v6 .nav-tabs > li > a {
    border: none;
    color: #687074;
    padding: 6px 0;
    font-size: 18px;
    margin-right: 0;
    background: none;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
}

.tab-v6 .nav-tabs > li.active > a,
.tab-v6 .nav-tabs > li.active > a:hover,
.tab-v6 .nav-tabs > li.active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:hover {
    border-bottom: 1px solid #18ba9b;
}

.tab-v6 .nav-tabs > li > a:focus {
    border: none;
}

.tab-v6 .tab-content {
    padding: 30px 0;
}
