.tab-v5 .nav-tabs {
    border-bottom: none;
}

.tab-v5 .nav-tabs li a {
    border: none;
    font-size: 14px;
    background: none;
    padding: 9px 16px;
}

.tab-v5 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 3px #222;
    border-bottom: none !important;
}

.tab-v5 .tab-content {
    padding: 13px;
    border: solid 1px #eee;
}
