.tab-v4 .tab-heading {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 3px solid #333;
}

.tab-v4 .tab-heading h2 {
    margin: 0;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

/*Nav Tabs*/
.tab-v4 .nav-tabs {
    top: 3px;
    border: none;
    float: right;
    overflow: hidden;
    position: relative;
}

.tab-v4 .nav-tabs a {
    color: #555;
    font-size: 12px;
    padding: 6px 15px;
    text-transform: uppercase;
}

.tab-v4 .nav-tabs > .active > a,
.tab-v4 .nav-tabs > .active > a:hover,
.tab-v4 .nav-tabs > .active > a:focus {
    border: none;
    background: inherit;
}

.tab-v4 .nav-tabs > li > a {
    border: none;
}

.tab-v4 .nav-tabs > li > a:hover {
    background: inherit;
}

.tab-v4 .tab-content {
    padding: 20px 0 10px;
}
